/* 
	1.Header
	2.Banner
	3.what
	4.software
	5.integrations
	6.support
	7.questions
	8.contact-us
	9.footer
*/


/* 1.Header */

#header {
	width: 100%;
	position: fixed;
	padding: 20px 0;
	z-index: 999;

	transition: .2s ease-out;
}

#header .logo-768 {
	display: none;
}

.header-links {
	display: inline-block;
}
.header-links ul li {
	display: inline-block;
	margin-right: 60px;
}


.header-links ul li a {
	font-family: NunitoSans-600;
	font-style: normal;
	font-size: 16px;
	line-height: 22px;
	color: #DFE2E5;
	text-decoration: none;
	transition: .2s ease-out;
	position: relative;
	
}

.header-links ul li a:hover,
.header-links ul li a.active {
	color: #00AEC2;
}

.header-links ul li a:hover:after,
.header-links ul li a.active:after {
	content: '';
	width: 12px;
	height: 1px;
	background: #00AEC2;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	transition: .2s ease-out;
}


.header-menu {
	display: none;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}

.header-menu img {
 width: 30px;
}

.milk-shadow {
 position: fixed;
 top:0; right:0; left:0;
 height: 0;
 background-color: #000;
 opacity: 0;
 -webkit-transition: opacity .5s;
 transition: opacity: .5s;
 z-index: 99
}

#menu.show ~ .milk-shadow {height: 100%; opacity: .3;}

#menu {
 position: fixed;
 background-color: #1C4D73;
 height: 100%;
 z-index: 999999999;
 width: 50vw;
 color: #bbb;
 top: 0;
 right: 0;
 -webkit-transition: all 0.3s ease;
 -moz-transition: all 0.3s ease;
 transition: all 0.3s ease;
 opacity: 1;
 display: none;
 border-left: 1px solid #2E4153;
}

.show {
	display: block!important;
}

.menu-container {
	padding-top: 100px;
	padding-left: 20px;
}

.menu-container__links a {
	margin-bottom: 15px;
	display: block;
	max-width: 240px;
	font-family: NunitoSans-600;
	font-style: normal;
	font-size: 16px;
	line-height: 22px;
	color: #DFE2E5;
	text-decoration: none;
}

.menu-container__links a:hover {
	color: #00AEC2;
	transition: .2s;
}


/* 2.Banner */

#banner {
	width: 100%;
	max-height: 800px;
	background: #022D4E url('../img/banner.jpg') no-repeat center center;
	padding: 200px 0;
	position: relative;
}

#banner:after {
	content: '';
	background: url('../img/banner_item.png') no-repeat center center;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}

#banner .container{
	text-align: center;
	position: relative;
	z-index: 1;
}

#banner h1 {
	margin-bottom: 8px;
}

#banner .subtitle {
	margin-bottom: 32px;
}

#banner a.btn {
	display: inline-block;
}

#banner .macbook-container {
	position: relative;
	left: 0;
	right: 0;
	top: 250px;
}

#banner .macbook-container img {
	margin: 0 auto;
}


/* 3.What */

#what {
	padding-top: 450px;
}

#what h2 {
	margin-bottom: 90px;
}

#what .title {
	text-align: center;
	margin-bottom: 50px;
}

#what .box {
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(28, 77, 115, 0.2), 0px 2px 1px rgba(28, 77, 115, 0.12), 0px 1px 1px rgba(28, 77, 115, 0.14);
	border-radius: 4px;
	width: 100%;
	padding: 24px;
	transition: 0.2s ease-out;
	height: 420px;
}

#what .box:hover {
	box-shadow: 0px 5px 5px rgba(28, 77, 115, 0.2), 0px 3px 14px rgba(28, 77, 115, 0.12), 0px 8px 10px rgba(28, 77, 115, 0.14);
}

#what .box-title {
	font-family: NunitoSans-600;
	font-style: normal;
	font-size: 19px;
	line-height: 26px;
	color: #2E3D4E;
	text-align: center;
}

#what p {
	color: #5F6E7F;
	text-align: center;
	margin-bottom: 20px;
	height: 40px;
}

#what .box-img img {
	width: 100%;
}
#what .box-img {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	align-items: center;
	justify-content: center;
	height: 280px;
}


/* 4.Software */

#software {
	background: #1C4D73;
}

#software .title {
	text-align: center;
	margin-bottom: 60px;
	color: #fff;
}

.software-item_left .box {
	border-radius: 4px;
	transition: 0.2s ease-out;
	padding: 15px 20px;
	margin-bottom: 5px;
	cursor: pointer;
}

.software-item_left .box:hover,
.software-item_left .box.active {
	background: #345C8A;	
}

.software-item_left .box-img {
	margin-bottom: 5px;
}

.software-screen {
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.software-screen img {
	width: 100%;
	display: block;
}

.software-item {
	max-width: 900px;
	margin: 90px auto 0;
}

.software-item .box {
	margin-bottom: 20px;
	padding: 24px;

}

.software-item .box-img {
	width: 53px;
	height: 53px;
	background: #345C8A;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

.software-item .box-title,
.software-item_left .box-title {
	font-family: NunitoSans-600;
	font-style: normal;
	font-size: 19px;
	line-height: 22px;
	color: #DFE2E5;
	margin-bottom: 10px;
}

.software-item_left p {
	font-size: 15px;
}


/* 5.Integrations */

#integrations .title {
	margin-bottom: 40px;
}

#integrations .box {
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(28, 77, 115, 0.2), 0px 2px 1px rgba(28, 77, 115, 0.12), 0px 1px 1px rgba(28, 77, 115, 0.14);
	border-radius: 4px;
	width: 100%;
	padding: 24px 18px;
	height: 300px;
	margin-bottom: 30px;
	transition: 0.2s ease-out;
}

#integrations .box:hover {
	box-shadow: 0px 5px 5px rgba(28, 77, 115, 0.2), 0px 3px 14px rgba(28, 77, 115, 0.12), 0px 8px 10px rgba(28, 77, 115, 0.14);
}

#integrations .box-img {
	height: 50px;
	margin-bottom: 10px;
}


#integrations .box-title {
	font-family: NunitoSans-600;
	font-style: normal;
	font-size: 19px;
	line-height: 26px;
	color: #2E3D4E;
	margin-bottom: 20px;
}

#integrations p {
	color: #5F6E7F;
}


/* 6.Support */

hr.hr-grey {
	max-width: 800px;
	border: 1px solid #DFE2E5;
}

#support .title {
	text-align: center;
	margin-bottom: 90px;
}

.support-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	overflow-x: auto;
}

#support .container-img {
	margin-bottom: 20px;
}

#support .container-img img {
	display: block;
}



/* 7.Questions */

#questions .title {
	margin-bottom: 24px;
	text-align: center;
}

#questions .subtitle {
	margin-bottom: 32px;
	text-align: center;
	font-size: 19px;
	color: #5F6E7F;
}

#questions .text-title {
	font-family: NunitoSans-600;
	font-style: normal;
	font-size: 19px;
	line-height: 26px;
	color: #2E3D4E;
	margin: 24px 0 16px;
}

#questions p {
	margin-bottom: 24px;
	color: #5F6E7F;
}


hr {
	border: 1px solid #1C4D73;
}


/* 8.Contact-us */

#contact-us {
	background: #1C4D73;
	padding: 90px 0;
}

#contact-us .title {
	color: #DFE2E5;
	text-align: center;
	margin-bottom: 50px;
}

#contact-us form {
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
}

#contact-us input,
#contact-us textarea {
	width: 100%;
	padding: 12px 16px;
	border: 1px solid #DFE2E5;
	box-sizing: border-box;
	border-radius: 4px;
	background: none;
	font-family: NunitoSans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #DFE2E5;
	transition: .2s ease-out;
}

#contact-us textarea {
	margin-bottom: 20px;
}

#contact-us input::placeholder,
#contact-us textarea::placeholder {
	font-family: NunitoSans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #DFE2E5;
}

#contact-us textarea {
	height: 160px;
}

#contact-us input:hover,
#contact-us textarea:hover{
	border: 1px solid #717D8C;
}

#contact-us input:focus,
#contact-us textarea:focus{
	border: 1px solid #fff;
}


/* Footer */

#footer {
	padding: 50px 0 20px;
	position: relative;
}

#footer .footer-logo {
	display: block;
	margin-bottom: 30px;
}

#footer .footer-social {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#footer .footer-social a {
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
}

#footer .footer-social a:last-child {
	margin-right: 0;
}

#footer .footer-col {
	margin-bottom: 70px;
}

#footer .title {
	font-family: NunitoSans-600;
	font-style: normal;
	font-size: 18px;
	line-height: 25px;
	color: #2E3D4E;
	margin-bottom: 30px;
}

#footer .footer-col a {
	font-family: NunitoSans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #5F6E7F;
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
	transition: .2s ease-out;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;

}

#footer .footer-col a:hover {
	color: #000;
}
#footer .footer-col a img {
	margin-right: 15px;
}

#footer .copyright {

	font-family: NunitoSans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #5F6E7F;
	text-align: center;
}

.btn-up {
	width: 50px;
	height: 50px;
	background: #00AEC2;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
	border-radius: 4px;
	position: absolute;
	bottom: 55px;
	right: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .2s ease-out;
}

.btn-up:hover {
	background: #24B9CB;
}


/* popup-talk */

.mfp-close-btn-in .mfp-close {
	position: absolute;
	right: 0;
	top: 0;
	color: #BCC2C9!important;
	opacity: 1 !important;
	transition: .1s ease-out;
}
.mfp-close:hover, .mfp-close:focus {
	color: #969EAB !important;
}

#popup-talk,
#popup-demo {
	background: #FFFFFF;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14);
	border-radius: 4px;
	max-width: 700px;
	padding: 34px 40px 50px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
#popup-demo {
	max-width: 380px;
}

#popup-talk .title,
#popup-demo .title {
	margin-bottom: 37px;
	text-align: left;
	font-family: NunitoSans-600;
	font-style: normal;
	font-size: 30px;
	line-height: 41px;
	color: #2E3D4E;
}

#popup-talk input,
#popup-talk textarea,
select
#popup-demo input,
#popup-demo textarea,
select {
	border: 1px solid #8E99A5;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 12px 16px;
	width: 100%;
	font-family: NunitoSans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #2E3D4E;
}

#popup-talk input:focus,
#popup-demo input:focus,
#popup-talk textarea:focus,
#popup-demo textarea:focus,
#popup-talk select:focus,
#popup-demo select:focus {
	border: 1px solid #2E3D4E;
	box-shadow: 0 0 0 1px #2E3D4E;
}

#popup-talk textarea,
#popup-demo textarea {
	height: 120px;
	margin-bottom: 40px;
}

select {
	margin-bottom: 30px;
	padding: 10px 16px 10px;
	background: #fff;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	background: url(../img/select-arrow.png) no-repeat right 16px center;
}



#popup-talk input::placeholder,
#popup-talk textarea::placeholder,
#popup-demo input::placeholder,
#popup-demo textarea::placeholder  {
	font-family: NunitoSans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #5F6E7F;
}

#popup-talk button.btn,
#popup-demo button.btn  {
	padding: 12px 75px;
}

input {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin: 0 0 10px;
    padding: 1em;
    background: #fff;
    resize: none;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgba(46, 61, 78, 0.42);
}

.label-textarea {
	display: block;
	pointer-events: none;
	line-height: 1.25em;
	text-align: left;
	position: absolute;
	top: 1px;
}
.label-textarea:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 12px 16px;
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));
    background-image: linear-gradient(180deg,#fff,#fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: 50%;
}
#contact-us .label-textarea:before {
    color: #DFE2E5;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1C4D73),to(#1C4D73));
    background-image: linear-gradient(180deg,#1C4D73,#1C4D73);

    font-family: NunitoSans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}


input+label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc(2em + 2px);
    text-align: left;
}

input+label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 8px 16px;
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));
    background-image: linear-gradient(180deg,#fff,#fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: 50%;
}

#contact-us input+label[placeholder]:before {
    color: #DFE2E5;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1C4D73),to(#1C4D73));
    background-image: linear-gradient(180deg,#1C4D73,#1C4D73);

    font-family: NunitoSans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

input:invalid+label[placeholder][alt]:before {
    content: attr(alt);
}

input[required]:focus+label[placeholder]:before, input[required]:valid+label[placeholder]:before,
textarea:focus+.label-textarea:before, textarea:valid+.label-textarea:before {
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transform: translateY(-1.8em) scale(.9);
    transform: translateY(-1.8em) scale(.9);
    font-size: 13px !important;
    margin: 8px 12px;
}

textarea:focus+.label-textarea:before, textarea:valid+.label-textarea:before {
	transform: translateY(-1.6em) scale(.9);
}
    

input:focus+label[placeholder]:before,
input:valid+label[placeholder]:before,
input:invalid+label[placeholder]:before {
    font-family: NunitoSans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.383858px;
    color: #5F6E7F;
}


input[required]:focus:valid,
textarea[required]:focus:valid {
	border: 1px solid #2E3D4E!important;
	box-shadow: 0 0 0 1px #2E3D4E!important;
}

input[required]:focus:invalid,
textarea[required]:focus:invalid {
	border: 1px solid #DC5259!important;
	box-shadow: 0 0 0 1px #DC5259!important;
}

select:focus:invalid {
	border: 1px solid #DC5259!important;
	box-shadow: 0 0 0 1px #DC5259!important;
}

input[required]:focus:valid+label[placeholder]:before{
	color: #2E3D4E!important;
}

input[required]:focus:invalid+label[placeholder]:before,
textarea[required]:focus:invalid+.label-textarea:before  {
    color: #DC5259!important;
}


#contact-us input[required]:focus:valid,
#contact-us textarea[required]:focus:valid,
#contact-us input[required]:valid,
#contact-us textarea[required]:valid  {
	border: 1px solid #fff!important;
	box-shadow: 0 0 0 1px #fff!important;
}

#contact-us input[required]:focus:valid+label[placeholder]:before {
	color: #fff!important;
}


#popup-success {
	background: #FFFFFF;
	border: 1px solid #DFE2E5;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14);
	border-radius: 4px;
	margin: 0 auto;
	width: 240px;
	display: block;
	padding: 60px 25px 30px;
	text-align: center;
	position: relative;
}

#popup-success:before {
 content: '';
 width: 74px;
 height: 74px;
 background: #00AEC2 url('../img/ok.png') no-repeat center center;
 display: block;
 position: absolute;
 top: -37px;
 left: 0;
 right: 0;
 border-radius: 50%;
 margin: 0 auto;
}

#popup-success .title {
	font-family: NunitoSans-600;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #2E3D4E;
	margin-bottom: 10px;
}

#popup-success .subtitle {
	font-family: NunitoSans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	color: rgba(46, 61, 78, 0.7);
	max-width: 130px;
	margin: 0 auto 30px;
}

#popup-success a {
	width: 100%;
}
